.uni {
    margin: 2em;


    .school-period {
        width: fit-content;
        padding: 8px;
        margin: 0 1em;
        border: 3px solid $sec-color;
        background-color: rgb(238, 238, 238);
        border-radius: 30px;


    }

    .info {
        margin-left: 5em;
        margin-top: 1em;
        padding: 1em;
        position: relative;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            top: -1em;
            left: -2em;
            width: 1px;
            opacity: 0.5;
            height: 150%;
            background-color: rgb(209, 209, 209);

        }

    }

}

.school-name {
    margin-bottom: 5em;
    line-height: 1em;
    font-size: 1.1em;
    font-weight: 700;
    color: rgb(48, 48, 48);
}

.school_course-name {
    font-weight: 400;
    margin: 1em 0.2em;
    color: gray;
}