.home {
    margin: 5em;
    color: $text-color;


    .img_container {
        height: 18em;
        margin: 2em 0;
        border: 1em solid white;
        border-radius: 50%;
        background: url('/resources/img/IMG-5862\ -\ Copy.jpg  ');
        background-position: center;
        background-size: cover;
    }

    h2,
    h3 {
        text-align: center;
        padding: 0.2em;
    }

    h3 {
        opacity: 0.5;
    }

    &_contact {
        text-align: center;
        margin: auto;


        .email {
            display: flex;

            span {
                margin-left: 0.5em;
            }
        }

        div {
            margin: 2em;


        }
    }

    .social-container {
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1em;
        justify-content: center;
        align-items: center;

        a {
            margin: 1em 1em;
            font-size: small;
        }

    }

    .name {
        font-weight: 600;
        font-size: 2.5em;
        text-transform: capitalize;
    }
}