.home {
    margin: 5em;
    color: $text-color;
    text-align: left;


    .img_container {
        min-height: 300px;
        width: 18em;
        margin: 2em auto;
        border: 1em solid white;
        border-radius: 50%;
        background: url('/dist/img/IMG-20210729-WA0029.jpg');
        background-position: top;
        background-size: cover;
    }

    h2,
    h3 {
        text-align: center;
        padding: 0.2em;
    }

    h3 {
        opacity: 0.5;
    }

    &_contact {
        text-align: center;
        margin: auto;


        .email {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                margin-left: 0.5em;
            }
        }

        div {
            margin: 2em;


        }
    }



    .name {
        font-weight: 600;
        font-size: 2.5em;
        margin-left: -8px;
        text-transform: capitalize;
    }
}

.social-container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    a {
        margin: 0 1em;
        font-size: 0.8em;
    }

}