.menu-btn {
    position: fixed;
    z-index: 1;
    right: 1.5rem;
    top: 1.5rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;


    &_burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background-color: rgb(99, 99, 99);
        @include transition-ease;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background-color: rgb(99, 99, 99);
            @include transition-ease;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -8px;
            width: 20px;
            height: 3px;
            background-color: rgb(99, 99, 99);
            @include transition-ease;
        }

        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }

    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.95;
    display: block;

    &_list {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: $primary-color;
        list-style-type: none;
        padding-right: 1rem;
        transform: translateY(-100%);
        @include transition-ease;

        &.open {
            transform: translateY(0);
        }

        .nav-item {
            transform: translateX(100vw);
            @include transition-ease;

            &.open {
                transform: translateX(0);
            }

            &.active>a {
                color: $sec-color;
            }
        }

        .nav-link {
            display: block;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 500;
            @include transition-ease;


            &:hover {
                color: $secondary-color;


            }
        }
    }
}