.service {
    margin: 1em;
    padding: 1em;


    &_title {
        margin: 2em;
        position: relative;

        h3 {
            font-size: 1.3em;
            font-weight: 700;
            color: $text-color;
        }

        &::before {
            content: "";
            position: absolute;
            width: 97px;
            height: 3px;
            bottom: -7px;
            border-radius: 10px;
            background-color: rgb(202, 202, 202);

        }

        &::after {
            content: "";
            position: absolute;
            width: 35px;
            height: 3px;
            bottom: -7px;
            border-radius: 10px;
            background-color: rgb(39, 191, 202);
        }
    }

    &_item {
        margin: 2em auto;
        height: 20em;

        .alt {
            color: $secondary-color;
            margin: 20px 0;
        }

        h3 {
            margin: 20px 0;
        }

        
    }

}