@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import "./config";
@import "./nav";
@import "./home";
@import "./about";
@import "./service";
@import './education';
@import "./skills";
@import './experience';
@import './responsive';


body {
    background: rgb(243,
            243,
            243);
    color: set-text-color($primary-color);
    height: 100vh;
    line-height: 1;
    font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 400;
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.img-container {
    width: 250px;
    height: 90px;
}

header {
    background-color: #fff;
    position: relative;
    padding: 0.5rem;
    // box-shadow: 0 4px 5px #e7e3e3;
    box-shadow: 0 0 40px -80px rgba(0, 0, 0, .8);
    height: 90px;
}

.card {
    margin: 2em;
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0 0 8em -90px rgba(0, 0, 0, .9);

}

footer {
    width: fit-content;
    margin: auto;
    margin-bottom: 3em;
    display: flex;



}